<%- include('Partials/Header') -%>

<div class="container" id="post">
    <div class="profile-section">
        <div class="row justify-content-around">
            <div class="col-lg-5">
                <div class="profile_data">
                    <img src="#" alt="profile_photo" class="img-fluid">
                    <h6><%= locals.name %></h6>
                    <p>Profile Bio</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="profile_details">
                    <ul class="list-unstyled">
                        <li>Posts</li>
                        <li>Friends</li>
                        <% if(allpost[0].user._id!=locals.user) { %>
                        <button type="submit" class="px-3">Connection</button>
                        <button type="submit" class="px-3">Connected</button>

                        <% } %>
                    </div>
                    </ul>
                </div> 
        </div>
    </div>
    <h2 class="d-block text-center">
        Posts
    </h2>
    <div class="row my-2 mx-2">
        <% for (post of allpost) {%>

            <%- include('posts.ejs') -%>

        <% } %>
    </div>

</div>
<script src="/js/home.js"></script>



<%- include('Partials/Footer') -%>