<%- include('Partials/Header.ejs') -%>
    <section id="login">
      <div class="container pt-4 justify-content-center">
        <div class="card">
            <div class="row">
              <div class="col-lg-6 col-md-6 mt-2 pt-2">
                <h2>Hey Welcome!!</h2>
                <p class="content_left">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Maxime accusamus minus sed pariatur.
                </p>
                <p id="emsg" style="color: white; font-size: 25px; font-weight: 800; border-radius: 1rem;" class="d-inline-block px-3"></p>
                <div class="login_1">
                  <h6 class="mt-3 mb-3">Sign Up With Social Media</h6>
                  <a href="#" class="px-1"
                    ><span> </span><i class="fab fa-facebook mt-4"></i
                  ></a>
                  <a href="#" class="px-1 py-2"
                    ><span> </span><i class="fab fa-google mt-4"></i
                  ></a>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-2 pt-2">
                <h1>Register</h1>
                <p class="content_right">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit minus
                  sed pariatur.
                </p>
                <form method="POST" id="form">
                <div class="form-group mt-2">
                  <input
                    type="name"
                    class="detail required"
                    placeholder="User Name"
                    name="name"
                  />
                </div>
                <div class="form-group mt-2">
                  <input
                    type="email"
                    class="detail"
                    placeholder="Email"
                    name="email"
                  />
                </div>
                <div class="form-group mt-2">
                  <input
                    type="tel"
                    class="detail"
                    placeholder="Phone Number"
                    name="contactNum"
                  />
                </div>
                <div class="form-group mt-4">
                  <input
                    type="password"
                    class="detail"
                    placeholder="Password"
                    name="password"
                  />
                <div class="form-group mt-4">
                  <input
                    type="password"
                    class="detail"
                    placeholder="Confirm Password"
                    name="cpassword"
                  />
                </div>
                <div class="form-group form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" />Accept All
                    T&C
                  </label>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-sm-6 col-xs-6">
                    <button href="#" class="btn btn-default" id="reg">
                      Register
                    </button>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-6 mt-4 mb-3">
                    <a href="/" class="new_acc pt-4"
                      >Already Have a Account?</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
<script>
$(document).ready(function(){
  $('#reg').on('click',function(e){
  e.preventDefault();
  var data=$('#form').serialize();
  $.ajax({
    method:"post",
    url:'/user/register',
    data:data,
    success:function(response){
      console.log(response);
      if(response.status!=200){
        $('body').addClass('animateLogin');
        $('.card').addClass("active");
        $('#emsg').html(response.message).css({"background-color":"red"});
        console.log(response)
      }
      else{
        $('#emsg').html(response.message).css({"background-color":"green"});
        console.log(response)
        $('body').css({"background-color":"green"})
      }
    }
  });
  });
});
</script>
    <!--   bootstrap scripts-->
    
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      
    ></script>
  </body>
</html>
