#post .card{
    width: 300px;
    box-shadow: 0 5px 10px rgb(1 41 41 /10%);
    border: none;
    border-radius: 10px;
    min-height: 450px;
    /* padding: 10px; */
  }

  #post #add_post.card{
    width: 70vw !important;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.956);
    border: .5px solid rgba(0, 0, 0, 0.325);
    min-height: auto !important;
  }

  #post .card-body h2{
      font-size: .8em;
      font-weight: 300;
  }
  #post .card .card-img-top img{
      max-height: 300px;
      width: 100%;
      padding: 0 !important;
      border-radius: 5px;
  }
  #post .card .card-body{
      padding: 12px;
  }
  #post h1{
      font-size: 1.5em;
  }
  #post textarea, input[type="text"]{
      border: 1px solid rgb(1 41 41 /10%);;
      border-radius: 10px;
      box-shadow: inset 5px -5px 5px rgb(1 41 41 /10%);
    }

    #post form button{
        border: none;
        outline: none;
        padding: 10px 20px;
        width: 120px;
        color: black;
        background-color: rgb(1 41 41 /10%);
        margin: auto;
        box-shadow: 0 5px 10px rgb(1 41 41 /10%);
        border-radius: 5px;
        font-size: 1.2em;
    }
    #del button{
        border: none;
        outline: none;
        font-size: 1.2em;
        background-color: #fff;
        float: right;

    }
    #post input[type="file"]{
        border: none;
    }
    .card-body img{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 5px;
        /* border: 2px solid red; */
    }

    .submitComment{
        background-color: black;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 5px 15px;
    }
    