#post .card{
    width: 300px;
    box-shadow: 0 5px 10px rgb(1 41 41 /10%);
    border: none;
    border-radius: 4px;
    min-height: 450px;
    /* padding: 10px; */
  }

  #post #add_post.card{
    max-width: 70vw !important;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.956);
    border: .5px solid rgba(0, 0, 0, 0.325);
    min-height: auto !important;
  }

  #post .card-body h2{
      font-size: .8em;
      font-weight: 300;
  }
  #post .card .card-img-top img{
      max-height: 300px;
      width: 100%;
      padding: 0 !important;
      border-radius: 4px;
  }
  #post .card .card-body{
      padding: 12px;
  }
  #post h1{
      font-size: 1.5em;
  }
  #post textarea, input[type="text"]{
      border: 1px solid rgb(1 41 41 /10%);;
      border-radius: 4px;
      box-shadow: inset 5px -5px 5px rgb(1 41 41 /10%);
    }

    #post form button{
        border: none;
        outline: none;
        padding: 10px 20px;
        width: 120px;
        color: black;
        background-color: rgb(1 41 41 /10%);
        margin: auto;
        box-shadow: 0 5px 10px rgb(1 41 41 /10%);
        border-radius: 4px;
        font-size: 1.2em;
    }
    #del button{
        border: none;
        outline: none;
        font-size: 1.2em;
        background-color: #fff;
        float: right;

    }
    #post input[type="file"]{
        border: none;
    }
    .card-body img{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 5px;
        /* border: 2px solid red; */
    }

    .submitComment{
        background-color: black;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 5px 15px;
    }

    .comment a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
    }

    #post .profile_details ul li{
        margin: 5px 5px;
        font-size: 20px;
        font-weight: 500;
    }
    #post .profile_details ul{
        display: flex;
    }

    #post .profile_data p{
        font-size: 15px;
    }
    #post .profile_details ul button{
        margin: 5px;
        padding: 5px 15px !important;
        border: none;
        background: rgba(0, 0, 0, 0.100);
        color: #000;
        border-radius: 6px;
        font-weight: 500;
        font-size: 14px;
    }

    #post .profile-section{
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    #post .profile-section img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    #post .profile-section{
        background-color: #f2f2ff;
    }

    .searchUserList .card{
        max-width: 50vh;
        margin: auto;
        box-shadow: 0 2px 5px rgb(1 41 41 /5%);
        padding: 10px 15px;
        border-right: none;
        border-left: none;
        border-radius: 0;
    }
.searchUserList .card img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.searchUserList .card h4{
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    margin: auto;
}
.searchUserList input[type='text']
{
    border-radius: 0;
    height: 40px;
    padding: 10px;
    border: .2px solid rgba(0, 0, 0, 0.100);
}
.searchUserList button
{
    background-color: rgb(234, 183, 44);
    border: none;
    border-radius: 2px;
    padding: 7px 15px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    vertical-align: baseline;
}
.searchUserList form{
    text-align: center;
    padding: 20px;
}
.searchUserList hr{
    max-width: 70vh;
}
.searchUserList a{
    text-decoration: none;
    color: rgba(0, 0, 0, .900);
}

#img{
    color: transparent;
    max-width: 150px;
}
#post form{
    font-size: 20px;
}
#img::-webkit-file-upload-button{
    visibility: hidden;
}

#img::before{
    content: 'Choose a file';
    display: inline-block;
    cursor: pointer;
    background-color: rgba(241, 195, 56, 0.803);
    color: #fff;
    padding: 5px 15px;
    box-shadow: 0 2px 5px rgb(1 41 41 /10%);
    border-radius: 4px;
    position: absolute;
}